Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://madan12-asu.github.io"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<!-- 
		CSE 598 - Assignment 4 Ex1.1
		Author: Mark Adan
		last updated: 10/17/25 
	-->
	

	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Hotel Details -->
	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="3"/>
			<xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="xs:float" use="optional"/>
	</xs:complexType>
	
	<!-- Address Details -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
	</xs:complexType>
	
	<!-- Number Format -->
	<xs:simpleType name="PhoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}\-\d{3}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
