Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="https://madan12-asu.github.io"
	targetNamespace="https://madan12-asu.github.io/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<!-- 
		CSE 598 - Assignment 4 Ex1.1
		Author: Mark Adan
		last updated: 10/17/25 
	-->
	
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" type="HotelType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Hotel Details -->
	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="3"/>
			<xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:float" use="optional"/>
	</xsd:complexType>
	
	<!-- Address Details -->
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<!-- Number Format -->
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}\-\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
