Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<!-- 
		CSE 598 - Assignment 4 Ex1.1
		Author: Mark Adan
		last updated: 10/17/25 
	-->
	
	<element name="Hotels" type="HotelType"/>
	
	<!-- Hotel Details -->
	<complexType name="HotelType">
		<sequence>
			<element name="Name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="3"/>
			<element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</sequence>
		<attribute name="Rating" type="float" use="optional"/>
	</complexType>
	
	<!-- Address Details -->
	<complexType name="AddressType">
		<sequence>
			<element name="Number" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="Street" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="City" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="State" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="Zip" type="string" minOccurs="1" maxOccurs="1"/>
		</sequence>
		<attribute name="NearestAirport" type="string" use="required"/>
	</complexType>
	
	<!-- Number Format -->
	<simpleType name="PhoneType">
		<restriction base="string">
			<pattern value="\d{3}\-\d{3}-\d{4}"/>
		</restriction>
	</simpleType>
	
</schema>
