Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="https://www.w3.org/2001/XMLSchema"
	targetNamespace="https://madan12-asu.github.io"
	xmlns:htl="https://madan12-asu.github.io"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<!-- 
		CSE 598 - Assignment 4 Ex1.1
		Author: Mark Adan
		last updated: 10/17/25 
	-->
	
	<element name="Hotels">
		<complexType>
			<sequence>
				<element name="Hotel" minOccurs="1" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	
	<!-- Hotel Details -->
	<complexType name="Hotel">
		<sequence>
			<element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="Phone" type="htl:PhoneType" minOccurs="1" maxOccurs="3"/>
			<element name="Address" minOccurs="1" maxOccurs="1"/>
		</sequence>
		<attribute name="Rating" type="xsd:float" use="optional"/>
	</complexType>
	
	<!-- Address Details -->
	<complexType name="Address">
		<sequence>
			<element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</sequence>
		<attribute name="NearestAirport" type="xsd:string" use="required"/>
	</complexType>
	
	<!-- Number Format -->
	<htl:simpleType name="PhoneType">
		<restriction base="string">
			<pattern value="\d{3}\-\d{3}-\d{4}"/>
		</restriction>
	</htl:simpleType>
	
</schema>
