Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace= "https://madan12-asu.github.io"
	xmlns:htl ="https://madan12-asu.github.io/Hotels.xsd"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<!-- 
		CSE 598 - Assignment 4 Ex1.1
		Author: Mark Adan
		last updated: 10/17/25 
	-->
	
	<complexType name="Hotels">
		<sequence>
			<element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<!-- Hotel Details -->
	<complexType name="HotelType">
		<sequence>
			<element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<element name="Address" type="AddressType" minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attribute name="Rating" type="xsd:float" use="optional"/>
	</complexType>
	
	<!-- Address Details -->
	<complexType name="AddressType">
		<sequence>
			<element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<attribute name="NearestAirport" type="xsd:string" use="required"/>
		</sequence>
	</complexType>
	
	<!-- Number Format -->
	<simpleType name="PhoneType">
		<restriction base="xsd:string">
			<pattern value="\d{3}\-\d{3}-\d{4}"/>
		</restriction>
	</simpleType>
	
</schema>
